In [14]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [3]:
selected_cols=['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity']

In [4]:
data=df[selected_cols]
data.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   latitude            20640 non-null  float64
 1   longitude           20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [7]:
data.describe()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,35.631861,-119.569704,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.135952,2.003532,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,32.540000,-124.350000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,33.930000,-121.800000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,34.260000,-118.490000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,37.710000,-118.010000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,41.950000,-114.310000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [8]:
data.isna().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [9]:
#data preparation
df=data.fillna(0)
df['rooms_per_household']= df['total_rooms']/df['households']
df['bedrooms_per_room']=df['total_bedrooms']/df['total_rooms']
df['population_per_houshold']=df['population']/df['households']

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   latitude                 20640 non-null  float64
 1   longitude                20640 non-null  float64
 2   housing_median_age       20640 non-null  float64
 3   total_rooms              20640 non-null  float64
 4   total_bedrooms           20640 non-null  float64
 5   population               20640 non-null  float64
 6   households               20640 non-null  float64
 7   median_income            20640 non-null  float64
 8   median_house_value       20640 non-null  float64
 9   ocean_proximity          20640 non-null  object
 10  rooms_per_household      20640 non-null  float64
 11  bedrooms_per_room        20640 non-null  float64
 12  population_per_houshold  20640 non-null  float64
dtypes: float64(12), object(1)
memory usage: 2.0+ MB

In [11]:
# what is most frequent observation in ocean_proximty
df.groupby('ocean_proximity').size().sort_values(ascending=False)

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
dtype: int64

In [13]:
num_col=list(df.dtypes[df.dtypes == 'float'].index)
df[num_col].corr().unstack().drop_duplicates().abs().sort_values(ascending = False).head()

latitude        latitude          1.000000
total_bedrooms  households        0.966507
latitude        longitude         0.924664
total_rooms     total_bedrooms    0.920196
                households        0.918484
dtype: float64

In [15]:
dat = df.copy()
mean = dat["median_house_value"].mean()

dat["above_average"] = np.where(dat["median_house_value"]>=mean,1,0)

In [16]:
#Split the data

dat = dat.drop("median_house_value" , axis=1)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
df_train_full, df_test = train_test_split(dat, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

In [19]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [20]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

In [21]:
from sklearn.metrics import mutual_info_score

In [22]:
mutual_info_score(df_train.above_average, df_train.ocean_proximity)

0.10138385763624205

In [23]:
df_train = df_train.drop('above_average', axis=1)
df_val = df_val.drop('above_average', axis=1)
df_test = df_test.drop('above_average', axis=1)

In [24]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [25]:
dv = DictVectorizer(sparse=False)

In [26]:
train_dict = df_train.to_dict(orient = "records")
X_train = dv.fit_transform(train_dict)

val_dict = df_val.to_dict(orient = "records")
X_val = dv.transform(val_dict)

test_dict = df_test.to_dict(orient = "records")
X_test = dv.transform(test_dict)

In [27]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [28]:
y_pred = model.predict(X_val)

In [29]:
round((y_val == y_pred).mean(), 2)

0.84

In [30]:
new_col = ['total_rooms', 'total_bedrooms', 'population', 'households']

In [34]:
train_dict_new = df_train[new_col].to_dict(orient = "records")
X_train_new= dv.fit_transform(train_dict_new)

val_dict_new = df_val[new_col].to_dict(orient = "records")
X_val_new = dv.transform(val_dict_new)

In [35]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train_new, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [36]:
y_pred_new = model.predict(X_val_new)

In [37]:
new_acc = round((y_val == y_pred_new).mean(), 2)
new_acc

0.71

In [38]:
from IPython.display import display

In [40]:
for c in new_col:
  print()
  display(print(f"{c} is removed")) 
  q4 = new_col.copy()
  q4.remove(c)
  train_dict_q4 = df_train[q4].to_dict(orient = "records")
  X_train_q4 = dv.fit_transform(train_dict_q4)
  val_dict_q4 = df_val[q4].to_dict(orient = "records")
  X_val_q4 = dv.transform(val_dict_q4)
  model.fit(X_train_q4, y_train)
  y_pred_q4 = model.predict(X_val_q4)
  acc = round((y_val == y_pred_q4).mean(), 2)
  diff = round((new_acc - acc), 2)
  display(print(f"Accuracy is {acc}"))
  display(print(f"Difference from the original is {diff}"))
  print()
  print()
  q4 = new_col.copy()

total_rooms is removed

None

Accuracy is 0.63

None

Difference from the original is 0.08

None

total_bedrooms is removed

None

Accuracy is 0.66

None

Difference from the original is 0.05

None

population is removed

None

Accuracy is 0.66

None

Difference from the original is 0.05

None

households is removed

None

Accuracy is 0.67

None

Difference from the original is 0.04

None

In [41]:
data['median_house_value']=np.log1p(data['median_house_value'])

In [42]:
df_train_full, df_test = train_test_split(data, test_size=0.2, random_state=42)

In [43]:
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

In [44]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [45]:
y_train = df_train.median_house_value.values
y_val = df_val.median_house_value.values
y_test = df_test.median_house_value.values

In [46]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [47]:
train_dict = df_train.to_dict(orient='records')

In [48]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

X_train = dv.transform(train_dict)

val_dict = df_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [51]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [52]:
for a in [0, 0.01, 0.1, 1, 10]:
    model = Ridge(alpha=a, solver="sag", random_state=42)
    model.fit(X_train, y_train)
    
    y_pred = model.predict(X_val)
    
    score = np.sqrt(mean_squared_error(y_val, y_pred))
    
    print(a, round(score, 3))

0 0.525
0.01 0.525
0.1 0.525
1 0.525
10 0.525